<div header-bar-root>
    <header class="header header-6">
        <div class="branding" (click)="navigateHome()">
            <a>
                <span class="logo-24"></span>
                <a class="title">
                    Service Installer for VMware Tanzu
                </a>
            </a>
        </div>
        <div class="header-actions">
            <button
                    class="btn btn-sm btn-header-action"
                    role="link"
                    aria-label="documentation"
                    (click)="navigateToDocs()">
                <clr-icon shape="file" size="18"></clr-icon>
                Documentation
            </button>
            <button class="btn btn-sm btn-header-action btn-green" (click)="downloadSupportBundle()"
                    i18n="deploy cluster configuration btn">
                <clr-icon shape="file-zip" size="18"></clr-icon>
<!--                <cds-icon shape="file-zip"></cds-icon>-->
                Support Bundle
            </button>
        </div>
    </header>
</div>
