<!--
    Copyright 2021 VMware, Inc
    SPDX-License-Identifier: BSD-2-Clause
-->
<div header-bar-root>
    <header class="header header-6">
        <div class="branding" (click)="navigateHome()">
            <a>
                <span class="logo-24"></span>
                <a class="title">
                    Service Installer for VMware Tanzu
                </a>
            </a>
        </div>
        <div class="header-actions">
            <button
                    class="btn btn-sm btn-header-action"
                    role="link"
                    aria-label="check deploy status"
                    [disabled]="!status"
                    (click)="navigateToDeploymentTimeline()">
                <clr-icon shape="sync" size="18"></clr-icon>
                Deploy Status
            </button>
            <button
                    class="btn btn-sm btn-header-action"
                    role="link"
                    aria-label="documentation"
                    (click)="navigateToDocs()">
                <clr-icon shape="file" size="18"></clr-icon>
                Documentation
            </button>
            <button class="btn btn-sm btn-header-action btn-green" (click)="downloadSupportBundle()"
                    i18n="deploy cluster configuration btn">
                <clr-icon shape="file-zip" size="18"></clr-icon>
                Support Bundle
            </button>
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
                    <clr-icon shape="user" size="22"></clr-icon>
                    <!-- <clr-icon shape="caret down" size="18"></clr-icon> -->
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a clrDropdownItem>{{this.apiClient.loggedInUser}}</a>
                    <a clrDropdownItem (click)="logoutSivt()">Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>
            <!-- <button
                class="btn btn-link btn-sm btn-user"
                role="link"
                aria-label="documentation"
                (click)="navigateToDocs()">
                <clr-icon shape="user" size="18"></clr-icon>
            </button> -->

        </div>
    </header>
</div>
