{
    "DiskProvisioning": "thin",
    "IPAllocationPolicy": "dhcpPolicy",
    "IPProtocol": "IPv4",
    "PropertyMapping": [
        {
            "Key": "avi.mgmt-ip.CONTROLLER",
            "Value": "{{spec.avi.deployment.parameters.ip}}"
        },
        {
            "Key": "avi.mgmt-mask.CONTROLLER",
            "Value": "{{spec.avi.deployment.parameters.netmask}}"
        },
        {
            "Key": "avi.default-gw.CONTROLLER",
            "Value": "{{spec.avi.deployment.parameters.gateway}}"
        },
        {
            "Key": "avi.sysadmin-public-key.CONTROLLER",
            "Value": ""
        }
    ],
    "NetworkMapping": [
        {
            "Name": "Management",
            "Network": "{{spec.avi.deployment.network}}"
        }
    ],
    "MarkAsTemplate": false,
    "PowerOn": true,
    "InjectOvfEnv": false,
    "WaitForIP": true,
    "Name": "{{spec.avi.vmName}}"
}