p {
  font-family: Lato;
}

#execute {
  position: relative;
  left: 94.5%;
  bottom: 2px;
  top: 4px;
  display: flex;
  flex-wrap: wrap;
  z-index: 1
}
#steeper {
  height: 100%;
  width: 100%;
}

#dollar-icon {
  left: 20px;
  position: relative;
  top: 6px;
  width: 12px;
}

#validationtname {
  left: 10px;
  position: relative;
}


