<form [formGroup]="formGroup">
    <div *ngIf="this.apiClient.tkgWrkDataSegmentError" class="alert alert-danger" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <div class="newline">
                    <span class="alert-text">
                        {{ segmentErrorMsg }}
                    </span>
                </div>
            </div>
        </div>
        <button (click)="errorNotification = null" type="button" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
    </div>
    <div *ngIf="dhcpError" class="alert alert-danger" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <div class="newline">
                    <span class="alert-text">
                        {{ dhcpErrorMsg }}
                    </span>
                </div>
            </div>
        </div>
        <button (click)="errorNotification = null" type="button" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
    </div>
    <div *ngIf="serviceError" class="alert alert-danger" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <div class="newline">
                    <span class="alert-text">
                        {{ serviceErrorMsg }}
                    </span>
                </div>
            </div>
        </div>
        <button (click)="errorNotification = null" type="button" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
    </div>
    <div *ngIf="errorNotification" class="alert alert-danger" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">
                    {{ errorNotification }}
                </span>
            </div>
        </div>
        <button (click)="errorNotification = null" type="button" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
    </div>

    <h4 i18n="cluster settings" aria-level="2">
        TKG Workload Data Network Settings
    </h4>
    <div class="clr-row">
        <div class="clr-col-12">
            <clr-toggle-container [attr.data-step-metadata]="formName">
                <clr-toggle-wrapper>
                    <input
                        type="checkbox"
                        clrToggle
                        id="workloadClusterSettings"
                        name="workloadClusterSettings"
                        formControlName="workloadClusterSettings"
                        (change)="toggleWorkloadClusterSettings()"
                        aria-describedby="workloadClusterSettings-helper"/>
                    <label>Configure parameters for Workload Data Network</label>
                </clr-toggle-wrapper>
            </clr-toggle-container>
            <span id="proxySettings-helper" class="display-none">
                Enabling proxy settings exposes addition fields and disabling will hide those fields
            </span>
        </div>
    </div> 

    <ng-container *ngIf="this.apiClient.workloadDataSettings">
        <div class="clr-row">
<!--        <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4">-->
<!--            <clr-select-container [attr.data-step-metadata]="formName">-->
<!--                <label i18n="datacenter label">-->
<!--                    SEGMENT NAME-->
<!--                    <clr-tooltip>-->
<!--                        <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>-->
<!--                        <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>-->
<!--                            <span>-->
<!--                                Specify segment name for TKG Workload Data Network-->
<!--                            </span>-->
<!--                        </clr-tooltip-content>-->
<!--                    </clr-tooltip>-->
<!--                </label>-->
<!--                <select clrSelect name="TKGDataSegmentName" formControlName="TKGDataSegmentName"-->
<!--                        (ngModelChange)="onTkgWrkDataValidateClick()" (blur)="onTkgWrkDataValidateClick()">-->
<!--                    <option aria-label="blank" title="blank"></option>-->
<!--                    <ng-container *ngFor="let TKGDataSegmentName of this.apiClient.networks">-->
<!--                        <option [value]="TKGDataSegmentName">-->
<!--                            {{TKGDataSegmentName}}-->
<!--                        </option>-->
<!--                    </ng-container>-->
<!--                </select>-->
<!--                &lt;!&ndash; Add a empty helper to avoid accessiblity aria-describeby issue &ndash;&gt;-->
<!--                <clr-control-helper></clr-control-helper>-->
<!--                <clr-control-error>Selecting a segment name is required!</clr-control-error>-->
<!--            </clr-select-container>-->
<!--        </div>-->
            <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4">
                <clr-input-container [attr.data-step-metadata]="formName">
                    <label class="hidden" i18n="load balancer template label">
                        GATEWAY CIDR
                        <clr-tooltip>
                            <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                            <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                                <span>
                                    Please specify Gateway CIDR to be configured for TKG Workload Data Network
                                </span>
                            </clr-tooltip-content>
                        </clr-tooltip>
                    </label>
                    <input clrInput formControlName="TKGDataGatewayCidr" placeholder="192.168.0.1/24"
                        (ngModelChange)="onTkgWrkDataValidateClick()" (blur)="onTkgWrkDataValidateClick()"/>
                    <!-- Add a empty helper to avoid accessiblity aria-describeby issue -->
                    <clr-control-helper></clr-control-helper>
                    <clr-control-error i18n="control plane endpoint required msg" *clrIfError="validatorEnum.REQUIRED">
                        Gateway CIDR is required!
                    </clr-control-error>
                    <clr-control-error i18n="control plane endpoint format msg"
                                    *clrIfError="validatorEnum.VALID_IP">
                        Gateway CIDR is invalid!
                    </clr-control-error>
                    <clr-control-error i18n="control plane endpoint required msg" *clrIfError="validatorEnum.WHITESPACE">
                        Gateway CIDR has leading or trailing whitespaces!
                    </clr-control-error>
                </clr-input-container>
            </div>

            <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4">
                <clr-input-container [attr.data-step-metadata]="formName">
                    <label class="hidden" i18n="load balancer template label">
                        DHCP START RANGE
                        <clr-tooltip>
                            <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                            <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                                <span>
                                    Please specify DHCP start range to be configured for TKG Workload Data Network
                                </span>
                            </clr-tooltip-content>
                        </clr-tooltip>
                    </label>
                    <input clrInput formControlName="TKGDataDhcpStartRange" placeholder="192.168.0.1"
                        (ngModelChange)="onTkgWrkDataValidateClick()" (blur)="onTkgWrkDataValidateClick()"/>
                    <!-- Add a empty helper to avoid accessiblity aria-describeby issue -->
                    <clr-control-helper></clr-control-helper>
                    <clr-control-error i18n="control plane endpoint required msg" *clrIfError="validatorEnum.REQUIRED">
                        DHCP start range is required!
                    </clr-control-error>
                    <clr-control-error i18n="control plane endpoint format msg"
                                    *clrIfError="validatorEnum.VALID_IP">
                        DHCP start range is invalid!
                    </clr-control-error>
                    <clr-control-error i18n="control plane endpoint required msg" *clrIfError="validatorEnum.WHITESPACE">
                        DHCP Start Range has leading or trailing whitespaces!
                    </clr-control-error>
                </clr-input-container>
            </div>
            <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4">
                <clr-input-container [attr.data-step-metadata]="formName">
                    <label class="hidden" i18n="load balancer template label">
                        DHCP END RANGE
                        <clr-tooltip>
                            <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                            <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                                <span>
                                    Please specify DHCP end range to be configured for TKG Workload Data Network
                                </span>
                            </clr-tooltip-content>
                        </clr-tooltip>
                    </label>
                    <input clrInput formControlName="TKGDataDhcpEndRange" placeholder="192.168.0.100"
                        (ngModelChange)="onTkgWrkDataValidateClick()" (blur)="onTkgWrkDataValidateClick()"/>
                    <!-- Add a empty helper to avoid accessiblity aria-describeby issue -->
                    <clr-control-helper></clr-control-helper>
                    <clr-control-error i18n="control plane endpoint required msg" *clrIfError="validatorEnum.REQUIRED">
                        DHCP end range is required!
                    </clr-control-error>
                    <clr-control-error i18n="control plane endpoint format msg"
                                    *clrIfError="validatorEnum.VALID_IP">
                        DHCP end range is invalid!
                    </clr-control-error>
                    <clr-control-error i18n="control plane endpoint required msg" *clrIfError="validatorEnum.WHITESPACE">
                        DHCP End Range has leading or trailing whitespaces!
                    </clr-control-error>
                </clr-input-container>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4">
                <clr-input-container [attr.data-step-metadata]="formName">
                    <label class="hidden" i18n="load balancer template label">
                        SERVICE IP START RANGE
                        <clr-tooltip>
                            <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                            <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                            <span>
                                    Please specify Service IP start range to be configured for TKG Workload Data Network
                            </span>
                            </clr-tooltip-content>
                        </clr-tooltip>
                    </label>
                    <input clrInput formControlName="TKGWrkServiceStartRange" placeholder="192.168.0.1"
                        (ngModelChange)="onTkgWrkDataValidateClick()" (blur)="onTkgWrkDataValidateClick()"/>
                    <!-- Add a empty helper to avoid accessiblity aria-describeby issue -->
                    <clr-control-helper></clr-control-helper>
                    <clr-control-error i18n="control plane endpoint required msg" *clrIfError="validatorEnum.REQUIRED">
                        Service IP start range is required!
                    </clr-control-error>
                    <clr-control-error i18n="control plane endpoint format msg"
                                    *clrIfError="validatorEnum.VALID_IP">
                        Service IP start range is invalid!
                    </clr-control-error>
                    <clr-control-error i18n="control plane endpoint required msg" *clrIfError="validatorEnum.WHITESPACE">
                        Service IP Start Range has leading or trailing whitespaces!
                    </clr-control-error>
                </clr-input-container>
            </div>
            <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4">
                <clr-input-container [attr.data-step-metadata]="formName">
                    <label class="hidden" i18n="load balancer template label">
                        SERVICE IP END RANGE
                        <clr-tooltip>
                            <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                            <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                                <span>
                                    Please specify Service IP end range to be configured for TKG Workload Data Network
                                </span>
                            </clr-tooltip-content>
                        </clr-tooltip>
                    </label>
                    <input clrInput formControlName="TKGWrkServiceEndRange" placeholder="192.168.0.100"
                        (ngModelChange)="onTkgWrkDataValidateClick()" (blur)="onTkgWrkDataValidateClick()"/>
                    <!-- Add a empty helper to avoid accessiblity aria-describeby issue -->
                    <clr-control-helper></clr-control-helper>
                    <clr-control-error i18n="control plane endpoint required msg" *clrIfError="validatorEnum.REQUIRED">
                        Service IP end range is required!
                    </clr-control-error>
                    <clr-control-error i18n="control plane endpoint format msg"
                                    *clrIfError="validatorEnum.VALID_IP">
                        Service IP end range is invalid!
                    </clr-control-error>
                    <clr-control-error i18n="control plane endpoint required msg" *clrIfError="validatorEnum.WHITESPACE">
                        Service IP End Range has leading or trailing whitespaces!
                    </clr-control-error>
                </clr-input-container>
            </div>
        </div>
    </ng-container>
</form>

