.clr-timeline.clr-timeline-vertical .clr-timeline-step-header {
    width: 10rem;
  }
  .clr-timeline{
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
  }
  .clr-timeline-step{
    height: 5rem;
  }
.modal-title {
    font-family: Metropolis,"Avenir Next","Helvetica Neue",Arial,sans-serif;
}
