
<!--<div class="main-container">-->
<!--  <div class="content-container">-->
<!--    <div class="content-area no-padding">-->
<!--      <router-outlet></router-outlet>-->
<!--      <app-stack></app-stack>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!-- Main Container -->
<clr-main-container>
  <!-- Page header -->
  <tkg-kickstart-ui-header-bar></tkg-kickstart-ui-header-bar>

  <!-- Page content -->
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
  </div>

</clr-main-container>


