.label-container {
  margin-left: 0;
}

.btn-label {
  margin-left: 1rem;
}

.btn-delete {
  border: none;
}

.label-input {
  margin-top: .1rem;
  margin-bottom: 24px;
}

.clr-textarea {
  width: 500px;
  height: 120px;
}

.err-label {
  max-width: 175px;
}
.clr-textarea {
  width: 500px;
  height: 120px;
}

.modal-title {
  .vsphere-icon-30 {
    margin-right: 8px;
  }
}

button.btn.btn-primary.btn-width-350 {
  max-width: 350px;
  width: 350px;
}
